.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h3 {
  font-size: 21px;
  text-align: left;
}

a,
a:hover,
a:visited,
a:active {
  font-size: 18px;
  text-align: left;
  color: inherit;
  text-decoration: none;
}
